.projectsHeading {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  /* Remove width and margin that were for container padding */
  /* width: 80%; */
  /* margin: 0 auto; */
  padding: 20px; /* Keep the internal padding around the grid */
}

.projectCard {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.projectCard h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.projectCard p {
  margin-bottom: 5px;
}

.projectCard a {
  color: blue;
  text-decoration: none;
}

.projectCard a:hover {
  text-decoration: underline;
}

.iconLinks {
  display: flex;
  align-items: center;
}

.iconLink {
  margin-right: 10px;
  display: inline-flex;
}

.iconLink:last-child {
  margin-right: 0;
}

.icon {
  font-size: 1.2em;
}